*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: rgb(255, 0, 55);
    font-family: sans-serif;
}
img
{
    margin: 5px 5px;
    object-fit: scale-down;
    padding-left: 1%;

}
form
{
    margin-top: 2%;
    background-color white;
    font-family: sans-serif;
    text-align: center;
    width: 600px;
    height: 500px;
    font-size: large;
    line-height: 220%;

}
h2
{
    margin-top: 5%;
    font-size: x-large;
    font-style: inherit;
}
.txtsrch
{
    margin-left: 20%;
    margin-top: 2%;
    width: 50vw;
    height: 5vh;
    border: 1px ridge #d5d5e6;
}

.txtsrch[placeholder]
{
    padding-left: 1%;
}
.btnsrch
{
    width: 5vw;
    height: 5vh;
    margin-top: 2%;
    background-color: #19e5e5;
    border:0px;
}
.btnhome
{
    width: 5vw;
    height: 4vh;
    margin-top: 1%;
    background-color: #19e5e5;
    border:0px;
    position: absolute;
    top: 50px;
    right: 300px;
}
.btncart
{
    width: 5vw;
    height: 4vh;
    margin-top: 1%;
    background-color: #19e5e5;
    border:0px;
    position: absolute;
    top: 50px;
    right: 200px;
}
.btnlogin
{
    width: 5vw;
    height: 4vh;
    margin-top: 1%;
    background-color: #19e5e5;
    border:0px;
    position: absolute;
    top: 50px;
    right: 100px;
}
.btnhelp
{
    width: 5vw;
    height: 3vh;
    margin-top: 1%;
    background-color: #19e5e5;
    border:0px;
    position: absolute;
    top: 5px;
    right: 300px;
}
.btncont
{
    width: 6vw;
    height: 3vh;
    margin-top: 1%;
    background-color: #19e5e5;
    border:0px;
    position: absolute;
    top: 5px;
    right: 200px;
}
h3
{
    font-size: medium;
    margin-bottom: 2%;
}