* {
    box-sizing: border-box;
}
.form-wrapper {

    margin: auto;
    width: 100%;
    padding: 0 55px;
}
.form-container {

    margin: 50px auto;
    background-color:#1883ad;
    width: 400px;
    height: 350px;
    border: 1px solid #3f3f3f;
    border-radius: 5px;

}
.desc-container{
    display: block;
    margin: auto;
}

.site-description, .page-text{
    display: block;
    margin: auto;
    text-align: center;
}