*{
    margin: 0;
    padding: 0;
}
#prod{
    text-align: center;
    font-family: sans-serif;
    padding:  10px 20px;
    color: aqua;
    background-color: brown;
    cursor: pointer;
    line-height: 5px;
    border-radius: 10px;
}
body{
    width: 1350px;
}
.main{
    width: 100%;
    height: auto;
    background-color:rgba(0, 255, 234, 0.404);
    min-height: 500px;
    margin: 0 auto;
}
.container{ 
    width: 1000px;
    height: auto;
    min-height: 500px;
    margin: 0 auto;
}
.topbar{
    width: 100%;
    height: 4px;
    background-color: #fcc508;
}
.social_icon{
    width: 100%;
    height: 33px;
    background-color: #2a2b2c;
    float: left;
}
.icon{
    width: 150px;
    height: 33px;
    padding-top: 3px;
    float: left;
}
.login_register_btn{ 
    width: 150px;
    height: 33px;
    float: left;
}
.header_right{
    width: 300px;
    height: auto;
    float: right;
}
.login_register_btn a{
    display: block;
    float: left;
    color: white;
    text-decoration: none;
    line-height: 33px;
    width: 50px;
}
.cart_btn{
    width: 100px;
    height: 50px;
    background-color: #fcc508;
    float: right;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cart_btn img{
    padding: 6px 4px;
    float: left;
}
.cart_btn span{
    line-height: 50px;
    height: 50px;
    color: #cc3333;
    font-size: 14px;
    font-weight: bold;
}
.header{
    width: 100%;
    height: 120px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo{
    width:200px;
    height: 0px;
    float: left;
}
.navbar{
    width: 1000px;
    float: left;
    text-align: right;
    padding-top: 25px;
    padding-bottom: 20px;
}
.navbar a{
    display: inline-block;
    color: black;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
}
.txtsrch{   
    margin-left: 20%;
    margin-top: 2%;
    width: 700px;
    height: 5vh;
    border: 1px ridge #d5d5e6;
    display: inline-block;
}
.txtsrch[placeholder]{
    padding-left: 1%;
}
.btnsrch{
    width: 5vw;
    height: 5vh;
    margin-top: 2%;
    background-color: #19e5e5;
    border:0px;
    padding: 0 10px;
    font-weight: bold;
}
.box1{ 
    width: 80%;
    height: 450px;
    margin-left: 140px;
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: left;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:  rgba(0, 174, 255, 0.082);
    border: none;
}
label{ 
    padding-left: 15px;
    font-family: sans-serif;
    font-size: xx-large;
}
.product-grid{ 
    
    font-family: Tahoma;
    position: relative;
}
.product-grid .product-img{
    overflow: hidden;
    position: relative;
}
.product-grid .product-img:before{ 
    content: "";
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.product-grid:hover .product-img:before{
    opacity: 1;
}
.product-grid .product-img a{ 
    display: block;
}
.product-grid .product-img img{ 
    width: 100%;
    height: 300px;
}
.product-img .product-trend-label,
.product-img .product-discount-label{
    content: "";
    color: white;
    background-color: orange;
    font-size: 12px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0 7px;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index 3;
}
.product-img .product-discount-label{ 
    background-color: var(--main-color);
    left: auto;
    right: 12px;
    
}
.product-grid .social{ 
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 4;
}
.product-grid:hover .social li{ 
    opacity: 1;
    transform: translateX(0);
}
.product-grid .social li a{ 
    color: #19e5e5;
    font-size: 22px;
}
.title{
    text-align: center;
    font-size: 25px;
    padding: 15px;

}
.price{
    content: "";
    color: white;
    background-color: orange;
    font-size: 12px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0 7px;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 3;
}
.foot{ 
    font-size: medium;
    text-align: center;
}
::placeholder {
    color: darkblue;
    opacity: 0.8;
}
.row1{
    width: 100%;
    height: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 255, 234, 0.404);
}
.copyright{
    width: 100%;
    height: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 255, 234, 0.404);
    text-align: center;
}
.cards{
}
.footer-widget{
    
}