* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  height: auto;
  background-color: rgba(0, 255, 234, 0.404);
  min-height: 500px;
  margin: 0 auto;
}
.container {
  width: 100%;
  height: auto;
  min-height: 200px;
  margin: 0 auto;
}
.topbar {
  width: 100%;
  height: 4px;
  background-color: #fcc508;
}
.social_icon {
  width: 100%;
  height: 33px;
  background-color: #2a2b2c;
  float: left;
}
.icon {
  width: 150px;
  height: 33px;
  padding-top: 3px;
  float: left;
}
.login_register_btn {
  width: 150px;
  height: 33px;
  float: left;
}
.header_right {
  width: 300px;
  height: auto;
  float: right;
}
.login_register_btn a {
  display: block;
  float: left;
  color: white;
  text-decoration: none;
  line-height: 33px;
  width: 50px;
}
.cart_btn {
  width: 100px;
  height: 50px;
  background-color: #fcc508;
  float: right;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cart_btn img {
  padding: 6px 4px;
  float: left;
}
.cart_btn span {
  line-height: 50px;
  height: 50px;
  color: #cc3333;
  font-size: 14px;
  font-weight: bold;
}
.header {
  width: 100%;
  height: 120px;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  width: 200px;
  height: 0px;
  float: left;
}
.navbar {
  width: 1000px;
  float: left;
  text-align: right;
  padding-top: 25px;
  padding-bottom: 20px;
}
.navbar a {
  display: inline-block;
  color: black;
  padding: 0 10px;
  text-decoration: none;
  font-weight: bold;
}
.txtsrch {
  margin-left: 20%;
  margin-top: 2%;
  width: 700px;
  height: 5vh;
  border: 1px ridge #d5d5e6;
  display: inline-block;
}
.txtsrch[placeholder] {
  padding-left: 1%;
}
.btnsrch {
  width: 5vw;
  height: 5vh;
  margin-top: 2%;
  background-color: #19e5e5;
  border: 0px;
  padding: 0 10px;
  font-weight: bold;
}
.signin {
  background: rgba(0, 255, 234, 0.404);
  padding: 40px;
  margin: 60px 350px;
  height: 400px;
  width: 400px;
  text-align: center;
  border-radius: 15px;
}
.head {
  width: 240px;
  text-align: center;
  background: transparent;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-family: "play", sans-serif;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: #ffffff;
}
.log {
  border: none;
  width: 190px;
  background: #ffffff;
  color: black;
  line-height: 25px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}
.log:hover {
  color: #ffffff;
  background-color: black;
}
h2 {
  color: white;
}
.contain a {
  color: darkblue;
  text-decoration: blink;
  font-size: 16px;
  font-weight: 200px;
}
.contain a:hover {
  color: skyblue;
}
.contain {
  display: inline-block;
  position: relative;
  width: 100%;
}
::placeholder {
  color: darkblue;
  opacity: 0.8;
}
.foot-container {
  width: 100%;
  height: 280px;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: rgba(0, 174, 255, 0.082);
  color: black;
  position: relative;
}
.foot-container a {
  color: black;
}
.foot-container .cards {
  font-size: 35px;
  padding: 10px;
}
.foot-container .fa-lock {
  font-size: 25px;
  padding: 10px;
}
.foot-container .copy-right {
  background: #fcc508;
  color: #686868;
  height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 5px;
}
.widget-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: black;
}
