* {
    box-sizing: border-box;
}

.form-container {

    margin: 50px auto;
    background-color:rgb(47, 47, 121);
    width: 500px;
    height: 600px;
}
.form-wrapper {

    margin: auto;
    width: 100%;
    padding: 0 55px;
}

input[type=text], [type=password], [type=submit] {

    width: 100%;
    display: inline-block;
    margin: 5px 0;
    height: 30px;

}
.sign-up {

    display: inline-block;
    width: 100%;
    background-color:white 
}
.already-have-an-account {

    display: text;
    width: 100%;
    background-color:black;
    text-align: center;
}
.sign-in {

    display: inline-block;
    width: 100%;
    margin: 5px 0;
    background-color:white 
    
}
.form-wrapper a {

    text-decoration: none;
}
.google {

    width: 100%;
    background-color: white;
    text-align: center;
    margin: 5px 0;
    height: 25px;
}
.facebook {

    width: 100%;
    background-color: white; 
    text-align: center;
    margin: 5px 0;
    height: 25px;
}