h1 {
    color:black;
    font-size:large;
    font-style: normal;
 }
body {
    background-color:  aqua;
    font-family: Arial, Helvetica, sans-serif;
    text-align:  center;
    color:  black;
 }
input:  not([type="submit" "button"]),
select,
textarea {
    width: 50%;
    padding:  10px;
    border:  1px solid #cccccc;
    margin-top:  5px;
    margin-bottom:  15px;
 }
input[type="submit"] {
    background-color:  #4caf50;
    color:  #fff;
    padding:  10px 20px;
    border:  none;
    cursor:  pointer;
 }

label {
    font-size:  1.2em;
    font-weight:  bold;
 }
input[type="button"] {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
 }