 body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav {
    width:100%;
    overflow: hidden;
    background-color: rgb(250, 244, 244);
    height:80px;    
    color: black;
    font-size: 8;   
    float: left;
  }

  .search {
    margin: 10px 60px 0px 5px;
    padding-left: 9px;
    display: block;
    height: 30px;
    width: 50%;
    border-radius: 24px;
    border: rgb(14, 13, 13);
    float: left;
  }
  
  p {
    padding: 0px 30px 0px  ;
    float: left;
    color: black;
  }
  
  main {
    width: 100%;
    height: 250px;
    margin-left:  0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 80px 0px 80px;
    background: rgb(250, 244, 244);
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
  }
    
  form {
   width: 100%;
    height: 400px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    background: rgb(253, 253, 253);
    box-sizing: border-box;
    position: relative;
    padding: 10px 80px 10px 80px;
  }
    
  h2 {
    text-align: center;  
    color: rgb(139, 103, 95);
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  h3 {
    text-align: center;  
    color: rgb(194, 194, 194);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 15px;
  }

  h5 {
    text-align: end;  
    margin: 0px 30px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .button {
    background-color: #E1D6D6;
    color:black;
    text-decoration: solid;
    text-align: center;
    border-radius: 4px;
    border-color: #11101070;
    height: 20px;
    width: 80px;
  }