body {
    background: rgb(250, 244, 244);
}

main {
    position: absolute;
    width: 30%;
    height: 80%;
    margin-left: 460px;
    margin-top: 27px;
    background: #FCFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 6px;
}

h1  {
    text-align: center;  
    font-family: Roboto;
    font-style: bold;
    font-size: 45px;
    text-align: center;
    color: rgb(66, 65, 65);
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2  {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 9px;
    color: #00000091;
    margin-top:0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

h3  {
    text-align: center;   
    font-family: Roboto;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    color: #000000bb;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.email  {
    text-align: start;
    margin: 100px 0px 20px 23px;   
    border-radius: 3px;
    padding: 0px 0px 0px 10px;
    width: 310px;
    height: 27px;
}

.password  {
    text-align: start;
    margin: 0px 0px 30px 23px;
    border-radius: 3px;
    padding: 0px 0px 0px 10px;
    width: 310px;
    height: 27px;
}

.submit  {
    text-align: center;
}

.fpass  {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 10px;
    margin-bottom:0px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 0;
}

.acc  {
    text-align: center;
    color: black;
    font-size: 17px;
    padding-top: 10px;
   
}


.siup  {
    font-size: 15px;
    color: rgb(255, 0, 0);
    text-decoration: underline;
    margin-left: 10px;
}

.button {
    background-color: #E1D6D6;
    color:black;
    text-decoration: solid;
    text-align: center;
    width: 200px;
    height: 22px;
    border-radius: 4px;
    border-color: #11101070;
}