body{
    background: rgb(250, 244, 244);
    }
.he {
    background-color: white;
    width: 100%;
    height: 100px
}
main{
    position: absolute;
    width: 40%;
    height: 120%;
    margin-left: 400px;
    margin-top: 40px;
    background: #FCFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 6px;
    }
h1  {
    text-align: center;  
    font-family: Roboto;
    font-style: bold;
    font-size: 33px;
    text-align: center;
    color: rgb(66, 65, 65);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  
    }
h2  {
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    font-style: italic;
    font-weight: normal;
    font-size: 9px;
    color: #00000091;
    margin-top:0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    }
h3  {
    text-align: center;   
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: #000000bb;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    display: block;

    }

.a  {
    text-align: center;
    color: #B97A7A;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-decoration-line: underline;
    mix-blend-mode: darken;
    line-height: 14px;
    height: 16px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    }
.b  {
    text-align: start;
    display: block;
    margin: 25px 0px 10px 45px;
    border-radius: 3px;
    padding: 0px 0px 0px 10px ;
    width: 80%;
    height: 30px;
    }

.d  {
    text-align: start;
    display: block;
    margin: 25px 0px 20px 45px;
    padding: 0px 0px 0px 10px ;
    border-radius: 3px;
    width: 80%;
    height: 30px;
    }
.e {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-top: 0px;
    margin-bottom:5px ;
    color: #000000;
    }
.f {
    border: 8px;
    text-align: center;
    }
    .g  {
        text-align: center;  
        font-family: Roboto;
        font-style: bold;
        font-size: 30px;
        text-align: center;
        color: rgb(66, 65, 65);
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        }
        .button{
            background-color: #E1D6D6;
            color:black;
            text-decoration: solid;
            text-align: center;
            border-radius: 4px;
            border-color: #11101070;
        }