
/*registration file*/
.pics {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 5%;
}
.article {
    text-align: center;
    margin-left: 50px;
    font: 1em sans-serif;
    font-size: 20px;
    margin: 30px;

}

h2 {
    border: none;
    border-bottom:3px solid black;
    text-align: center;
}

body {
    background-color: white;
}

.bigbox {
    background-color: rgba(63, 60, 60, 0.301);
    display:block;
    margin-left: 300px;
    margin-right: 300px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: 2px solid black;
}
            
.button1 {
    background-color: rgb(13, 226, 13);
    margin: 4px 2px;
    padding: 16px 32px;
    border-radius: 4px;
    width: 100%;
    color: white;
    font-size:20px;
}

.button2 {
    border-color:red;
    margin: 4px 2px;
    padding: 16px 32px;
    border-radius: 4px;
    width: 100%;
    color: red;
    font-size: 20px;
}
    