
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;

  }
  .bigbox {
    background-color: rgba(63, 60, 60, 0.301);
    /*display:block;*/
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 20px;

  }
 .logo {
    width: 50px;
  }

  #product {
    text-align: center;
    border-bottom: 3px solid black;
    background-color:white;
  }

  h2 {
    background-color: chartreuse;
    text-align: left;
  }

  .procat{
    display: inline-block;
    padding: 0px 0px;
    margin: 5px;
  }

  

  .address {
    display: block;
    box-sizing: content-box;
  }

  .slideimg {
    width: 100%;
    position: center;
    margin: auto;
    display: block;
  }
  .slideimg img {
    width: 100%;
    height:400px;
  }

 .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }

.dots {
  text-align:center; 
  }

.card {
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  display: inline-block;
}
img {
    padding: 0px 3px 0px 1px;
    width: 100%;
  }
  

.price {
  color: grey;
  font-size: 22px;
  font-style: normal;
  }
  
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
