.topnav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 20px;
  color: black;  
}

.mainbox {
  background-color:white;
  display:block;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;

}
.logo {
  width: 50px;
  float: left;

}
.login {
  margin: auto;
}

#product {
  text-align: center;
  border-bottom: 3px solid black;
  background-color:white;
}

h2 {
  background-color: chartreuse;
  text-align: left;
}

.procat{
  display: inline-block;
  padding: 0px 0px;
  margin: 5px;
}

img {
 padding: 0px 3px 0px 1px;
 width: 100%;
}

.address {
  display: block;
  box-sizing: content-box;
}

.slideimg {
  width: 100%;
  position: center;
  margin: auto;
  display: inline-block;
  height: 300px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
  text-align:center; 
}

.card {
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  display: inline-block;
}

.price {
  color: grey;
  font-size: 22px;
  font-style: normal;
}
  
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/*registration file*/
.pics {
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 5%;
}
.article {
  text-align: center;
  margin-left: 50px;
  font: 1em sans-serif;
  font-size: 20px;
  margin: 30px;

}

h1 {
  border: none;
  border-bottom:3px solid black;
  text-align: center;
}

body {
  background-color: white;
}

.bigbox {
  background-color: rgba(63, 60, 60, 0.301);
  display:block;
  margin-left: 300px;
  margin-right: 300px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: 2px solid black;
}
          
.button1 {
  background-color: rgb(13, 226, 13);
  margin: 4px 2px;
  padding: 16px 32px;
  border-radius: 4px;
  width: 100%;
  color: white;
  font-size:20px;
}

.button2 {
  border-color:red;
  margin: 4px 2px;
  padding: 16px 32px;
  border-radius: 4px;
  width: 100%;
  color: red;
  font-size: 20px;
}
  