body{
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-family: 'Gentium Basic', serif;
}
h1,h2, h3, h4, h5, h6 {
    font-family: 'Sofia', cursive;
}

.main-container{
    grid-column: 2/5;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    border: 1px solid black;
    background: linear-gradient(90deg, rgba(242,241,237,0.9822303921568627) 0%, rgba(249,248,230,1) 43%, rgba(241,241,241,1) 80%);
    box-shadow: 8px 7px 5px -1px rgba(0,0,0,0.44);
}
.left-side{
    text-align: center;
      height: 100%;
      border-right: 0.5px solid black;
}
.left-header{
    position: relative;
}
.left-body{
     position: relative;
    margin: 4rem 0.5rem 0 0.5rem;

}
.right-side{
    height: 100%;
    text-align: center;
}
/*Form*/
form{
    margin-top: 10%;
}
.input{
    padding: 0.6rem;
   
}
input{
    padding: 0.5rem;
    border: 0.5px solid black;
    border-radius: 10px;
    background: white;
    width: 60%;
    color: black;
}
/*Utility*/
button{
    height: 1.6rem;
    width: 5.5rem;
    border-radius: 6px;
    font-size: 0.8rem;
    color: white;
    background-color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}