body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
    height: 100%;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 0 4rem;
    align-items: center;
    border: 0.2rem solid black;
}
.left-side{
    
}
.right