body{
    font-family: Arial, Helvetica, sans-serif;
}
fieldset{
    width: 50%;
    padding: 10px;
    border: 1px solid #f5f3f3;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color:pink;
    position: sticky;


}
.First Name{
    border-width:2px;
    
}
h2{
    color: coral;
}
input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="checkbox"]{
    width: 6%;
    margin-bottom: 8px;

}