body{
    background:limegreen;
    height:780px;
}
header{
    text-align:left;
    font-size:25px;
    font-display:white;
}
h1{
    font-size:30px;
    color:white;
}
main{
    background:rgb(219, 212, 212);
    height:750px;
    padding:16px 16px 0;
    text-align:center;
}
h1{
    text-align:center
}
img{
    height:300px;
    width:300px
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 300px;
    background-color: rgb(229, 226, 226);
    justify-content: center;
    align-items: center;
    font-family: monospace;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: center;
}
.dropdown-ctn a{
    color:white;
    padding: 12px 15px;
    text-decoration: none;
}
h3{
    font-size:30px;
}
.head{
    color:white;
}
.flex-item {
    background-color: rgb(255, 255, 255);
    width: 190px;
    height: 130px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: center;
    border-right: 1px ridge rgba(43, 42, 46, 0.5);