* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    color: white;   
}

body {
    width: 100%; 
    background-image: linear-gradient(120deg,rgba(0, 0, 0, 0.897),rgba(0, 0, 0, 0.205)), url(../img/sarah-dorweiler-fr0J5-GIVyg-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    
}

a {
    text-decoration: none;
    cursor: pointer;
    font-family: cursive, sans-serif;
    color:black;
}

a:hover {
    color:white;
    z-index: 2;
}

p {
    text-align: center;
    font-size: 13px;
    color:white;
}

.hero {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-top: 20px;
    text-transform: uppercase;
}

.intro {
    font-weight: 500;

}

.login-form {
    width: 40%;
    height: 480px;
    border-radius: 15px;
    border: solid .25px white;
    padding: 50px 40px;
    position: absolute;
    left: 50%;
    top: 60%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.login-form h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight:normal ;
    font-family: cursive;
}

.text-box {
    border-bottom: .25px solid white;
    position: relative;
    margin: 15px 0;
}

.text-box input {
    font-size: 1rem;
    color: white;
    z-index: 2;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 30px;
}

.logbtn {
    display: block;
    width: 150px;
    height: 40px;
    border: solid 0.5px white;
    font-weight: 400;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color:transparent;
    color: white;
    outline: none;
    cursor: pointer;
    z-index: 2;
    font-size: 15px;
    transition: .25s;
}

.logbtn:hover {
    font-size: 1rem;
    opacity: 1;
    background-color: rgb(44, 240, 142);
    background-size: 200%;
}

.bottom-text {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    color:white;
    
}