*{
    box-sizing: border-box;
}
body{
    /*background-color: #0919f7;*/
    background-color: #43c7cc;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
.logo-image{
    margin-bottom: 0;
    border:1px solid #000;
    border-radius: 20px;
}
.logo-text{
    font-family: cursive;
    font-size: 25px;
    color: #ffe;
    margin-top: 0;
    margin-bottom: 0;
    
}
.login-page-greetings{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffe;
    margin-bottom: 0;
   text-align:  center;
   
}
.login-page-form{
    width: 400px;
    display:block;
    margin: auto;
    background-color: #ffe;
    border: none;
    padding: 10px;
   
}
.login-content{
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2px;
    color: #000000;
   
    width:100%;
}
.input-text, .input-password{
    background-color: #ddd;
    border: none;
    padding: 10px;
    font-size: 16px;
}
.login-link{
    text-decoration: none;
}
.login-link:hover{
    cursor: pointer;
    text-decoration: underline;
    color: green;
}
.login-link:active{
    color: #ff0000;
}
.login-history{
    display: inline-block;
    margin:auto;
    padding: auto;
    width: auto;
    align-self: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.button{
    display: block;
    margin:auto;
    padding: 15px 20px;
    font-size: 20px;
    width: 50%;
    background-color: /*#5f9ea0*/#43c7cc;
    color: #ffe;
    border: 1px solid;
    border-radius: 5px;
}
.button:hover{
    background-color: /*#43c7cc*/#5f9ea0;
}
.button:active{
    background-color: #377923;
}
.forget-password{
    float: right;
    font-family: Arial, Helvetica, sans-serif
}
.sign-up{
    float: right;
    font-family: Arial, Helvetica, sans-serif
}
.login-image{
    width: 20px;
}
