
table, th, td {
  border: 1px solid black;
    text-align: center;

}
th{ 
  color:#0b1275;
  }

body{
    text-align: center;
    border-style: groove;

}
#form{
    background-color: rgb(19, 36, 68);
    color: rgb(241, 240, 235);
    border-style: groove;
    border-color:black;
    padding: 100px 20px;
    text-align: center;
    position: relative;
    left: 400px;
    width: 400px;
    height: 400px;
}
a{
    text-decoration: none;
}
#form:h1{ 
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table{
    position: relative;
    left: 550px;
}