
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Poppins&display=swap');



* {
    margin: 0;
    padding: 0%;
    font-family:'Poppins', sans-serif; 
    box-sizing: border-box;
    text-decoration: none;

}



html {
    overflow-x: hidden;
    font-family:'Poppins', sans-serif;
    color: #999;

}

.header {
    width: 100%;
    position: fixed;  
    top: 0%;  
    color: #fff;    
    padding-bottom: 10px;
    z-index: 1000;

}

/* styling for the logo/navigation */
.logo {
    color: #333;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 5px;
    border-top: 0.25px solid #999;
    border-bottom: 0.25px solid #999;
    margin-left: 4.2%;
    cursor: pointer;

}

.logo span {
    color: #f70606;
    font-family: cursive;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #fff;
    
}

.nav-middle {
    display: flex;
    justify-content: space-between;
    justify-items: flex-start;
    margin-left: auto;
    width: 35%;
    padding-bottom: 3px;
    
}

.nav-middle a {
    color: #333;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.nav-middle a:hover {
    border-bottom: 1px solid #333;

}

.search {
    display: flex;
    cursor: text;
    justify-content: space-around;
    justify-items:flex-end;
    margin-left: auto;
    height: auto;
    border: #333  1px solid;
    width: 150px;
    border-radius: 5px;
}


.search i {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 0.75rem;
    padding: 5px;
    color: #333;
    font-size: 10px;
    margin-left: auto;
    text-align: right;
}


/* login button */
#login-button {
    width: auto;
    padding: 3px 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 12px;
    border: none;
    background-color: transparent;
}

#login-button:hover {
    background-color: #999;
    color: white;
    transition: 0.3s ease-in-out;
}

.login  {
    justify-content: space-around;
    justify-items:flex-start;
    margin-left: 20px;
    width: 10%;
    cursor: pointer;
    color: #333;
    
}

/* login icons */
.login i {
    text-shadow: 1px 1px 1px #ccc;
    font-size: .75rem;
    color: #333; 

}

.login i:hover {
    transform: scale(1.2);
    transition: ease-in 0.3s;
    color: black;
}


/* styling for the main banner  */
.banner {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(90deg,rgba(19, 18, 18, 0),rgb(10, 10, 10)), url('../img/banner1.jpg');
    background-position: center;
    background-size: cover;
    
}


.banner h2 {
    position: absolute;
    left: 5%;
    z-index: 1;
    top: 60%;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 800;
    color: #f70606;
}


.banner p {
    position: absolute;
    left: 5%;
    top:72%;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    margin: 30px 0;
    letter-spacing: 1px;

}

.explore {
    width: 250px;
    border: #333 solid 1px;
    border-radius: 20px;
    font-family:'Poppins', sans-serif ;
    font-size: 30px;
    letter-spacing: 2px;
    position: absolute;
    top: 85%;
    left: 5%;
    color: #333;
    background-color: #fff;
    cursor: pointer;
}

.explore:hover {
    transition: ease-in-out 1s;
    background-color: #999;
}

/* styling for the product title  */

#product-info {
    width: auto;
    text-align:center;
    text-transform: lowercase;
    line-height: 30px;
    letter-spacing: 3px;
    margin: 5% 5% 2%;
}

/* styling for discover button */
#discover  {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    letter-spacing: 3px;
    box-shadow: #999 3px 5px 3px;
    font-size: 30px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #333;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
}

#discover:hover {
    background-color: #999;
    transition: ease-in-out .5s;
}

.product-title,
.product-title2 {
    text-align: left;
    margin-left: 5%;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    font-family:'Poppins', sans-serif;
    color: #333;
    font-weight: 700;
    margin-top: 10%; 
    margin-bottom: 30px;
}

.product-title2 {
    margin-top: 6%;
}

/* styling for banner-2  */
.banner-2 {
    display: inline-block;
    height: 80vh;
    background-image: url('../img/banner2.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    width: 55%;
    box-shadow: 3px 3px 3px #333;
    padding: 50px 0;
    border-radius: 4px;
    margin-left: 5%;
}


.banner-2 h2,
.banner-3 h2 {
    position: relative;
    left: 10%;
    top: 68%;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 800;
    color: #fff;
}

.banner-2 p,
.banner-3 p {
    position: relative;
    background-color:white;
    width: 100px;
    border-radius: 20px;
    padding: 5px 0;
    text-align: center;
    left: 10%;
    top: 70%;
    text-transform: lowercase;
    font-size: 1rem;
    color: black;
    font-weight: 700;
}

.banner-2 p:hover, .banner-3 p:hover {
    background-color: #999;
    transition: ease-in-out .5s;
}

.banner-2 a,
.banner-3 a  {
    text-decoration: none;
    color: #333;
}

/* styling for banner-3  */
.banner-3 {
    display: inline-block;
    height: 75vh;
    animation: animate 10s ease-in-out infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
    width: 35%;
    padding: 20px 0;
    box-shadow: 10px 10px 5px #999;
    border-radius: 3px;
    margin-left: 0;
    margin-right: 4%;
}

@keyframes animate {
    0%,24.99% {
        background-image: url('../img/banner3-1.webp');  
    }
     25%,49.99% {
        background-image: url('../img/banner3-2.webp');  
    }
    50%,74.99% {
        background-image: url('../img/banner3-3.webp');  
    }
    75%,99.99% {
        background-image: url('../img/banner3-4.webp');  
    }
}

.banner-3 h2 {
    font-size: 2.5rem;
}

/* styling for the products  */
.products-container {
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    left: 3%;
    right: 5%;
    background-color: transparent;
    flex-direction: row;
    width: 90%;
    margin-bottom: 10%;
    height: auto;
}

.products {
    height: auto;
    width: 33%;
    margin-left: 70px;
    box-shadow: #fff 3px 3px;
}

.products img {
    width: 100%;
    height: auto;
    box-shadow:#999 5px 5px 5px;
    border-radius: 4px;

}

.products p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    text-align: left;
}

.products h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 800;
    margin: 10px 0;
    text-align: left;
}

.button {
    text-transform: uppercase;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    width: 100px;
    border: 1px solid #999;
    background-color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.button:hover {
    background-color: #999;
    color: white;
    transition: 0.3s ease-in-out;
}

/* styling for advert-banner  */
.product-banner {
    display: flex;
    width: 100%;
    margin: 5% 0;
}
  
.advert {
    width: 33.3%;
}

.advert p {
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #333;
    font-weight: 700;
}

.advert p:hover {
    transform: scale(1.2);
    transition: ease 0.3s;
}

.title-placeholder {
    text-align: center;
    line-height: 30px;
    margin-bottom: 70px;
    font-size: 1rem;
    letter-spacing: 4px;
}
 
/* styling for the footer  */
footer  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10rem;
    font-size: 10px;
    font-family: 'Poppins', sans-serif; 
    border-top: 1px solid #333;
    padding: 20px 0px;
    
}

footer ul li {
    list-style: none;
}

.footer-grid {
    text-align: center;
    letter-spacing: 2px;
    line-height: 30px;
}

.footer-grid > p {
    padding:0  20px 20px 0;
    font-family:  'Poppins', sans-serif; 
    font-size: 20px;
    color: #333;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.footer-grid > p i {
    font-size: 1rem;
}

.pop-info li:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}
.social-icons {
    background:transparent;
    height: 70px;
     display: flex;
     margin-left: 200px;
     justify-content: space-between;
     width: 15%;
     font-size: 1rem;
}

.social-icons span a {
    color: black;
    list-style: none;
    text-decoration: none;

}