/*import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato;
}
.container{
	width: 100%;
	height: auto;
	background-color: #fff;
}
.main{
	max-width:1200px;
	height: auto;
	margin: 0 auto;
}
nav{
	width: 100%;
	height: 100px;
	background-color: green;


}
nav ul{
	float: right;
}		

nav ul li{
	display: inline-block;
	list-style-type: none;
	margin-left: 50px;
	font-family: Gugi; 
}
nav ul li a
{
	text-decoration: none;
	color: #272727;
	line-height: 100px;
	padding: 35px 10px;
	font-size: 13px;
	font-family:Gugi;
}
.logo img{
	float: left;
	height:90px;
	padding-left: 30px;
	
	margin-top: 10px;
	
	border-bottom: 30px blue;
	
}
/*-------Slider-------*/

.slider{
	width: 100%;
	height: 630px;
	display: flex;
	background-position:center; 
}
/*------------About--------*/
#About{

	padding-top:50px;
	padding-bottom: 50px;
	color: #555;
}
#about .btn{
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-content{
	padding-top: 10px;
}
footer{
	padding: 10px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	background: green;
}


