body{
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    font-family: 'Gentium Basic', serif;
}
nav{
    height: 3rem;
    border-bottom: 1px solid black
}
nav > ul{
    /*border:1px solid black;*/
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

nav >ul >li{
    display: inline;
}
nav > ul > li > a{
    display:inline-block;
    padding:20px 70px 20px 70px;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    
}
h1,h2, h3, h4, h5, h6 {
    font-family: 'Sofia', cursive;
}
header{
    text-align: center;
}
.product{
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product-img{
    position: relative;
    display: inline-block;
    border-radius: 15px;
    height: 100%;
    width: 80%;
    box-shadow: 6px 4px 14px 1px rgba(0,0,0,0.58);
    margin-right: 10px;
    margin-top: 20px;

}
.prdt-img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
button{
    height: 1.6rem;
    width: 5.5rem;
    border-radius: 6px;
    font-size: 0.8rem;
    color: white;
    background-color: black;
}