*{
    box-sizing: border-box
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F1F3F4;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}
.top-nav-bar{
    width: 100%;
    margin-top: 5px;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 3px solid blue;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.logo{
height: 40px;
margin: 5px 25px;
width: 5%;
margin-bottom: 9px;
}
.form-control{
margin-top: 9px;
margin-left: 30px;
border: 1px solid blue;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
float: left;
width: 80%;
font-size: 17px;
padding: 10px;
margin-bottom: 9px;
box-shadow: 1;
}
.input-group-text{
    background: blue;
    border: 1px solid blue;
    margin-top: 9px;
    margin-bottom: 9px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 15px;
}
.search-box{
    display: inline-flex;
    width: 60%;
}
.fa-search{
    color: white;
    align-self: center ;
}
.category{
    text-align: center;
    background-color: orangered;
    font-weight: bold;
    font-size: 24px;
    border-radius: 3px;
}
  .menu-bar{
      width: 45%;
      right: 0px;
      position: absolute;
  }
  .menu-bar ul{
      display: flex;
      float: right;
  }
  .menu-bar ul li{
      border-left: 1px solid #fff;
      list-style-type: none;
      text-align: center;
      background-color: teal;
      cursor: pointer;
      padding: 15px 45px;
      margin-top: 5px;
  }
  .menu-bar ul li a{
      font-size: 16px;
      font-weight:bold;
      color: white;
      text-decoration: none;
    }
    .shopping-basket{
        margin-right: 5px;
        width: 15px;
        caret-color: white;
    }
    .side-menu{
        height: 79%;
        width: 15%;
        float: left;
        font-size: 14px;
        background-color: gray ;
        z-index: 2;
        margin-left: 10px;
    }
    .side-menu ul{
        margin-left: 10px;
    }
    .side-menu ul li{
        list-style-type: none;
        font-weight: bold;
        margin-top: 16px;
        cursor: pointer;
    }
    .side-menu ul li:hover{
        color: orangered;
    }
    .side-menu ul li ul{
        display: block;
        z-index: 10;
        top: 77px;
    }
    .fa-angle-right{
        margin-top: 4px;
        margin-right: 8px;
        float: right;
    }
     .slideshow-container{
           width: 82%;
           padding: 0 15px;
           float: right;
           position: relative;
     }
     .slider1{
         box-shadow: 1px 1px 1px 1px rgba(0,0,1,0.5);
     }
     .featured-category{
         margin: 50px 0;
     }
     .featured-category{
         display: table-footer-group;
         padding: 20px 0;
         cursor: pointer;
         vertical-align: middle;
     }
     .col-md-4{
         float: left;
         padding: 5px;
         width: 20%;
     }
     .recommend{
         margin: 50px 0;
     }
     .title-box{
         background-color: blue;
         color: #fff;
         width: 180px;
         padding: 4px 10px;
         height: 30px;
         margin-bottom: 60px;
         display: flex;
         bottom: -290px;
         position: absolute;
         border: 1px solid white;
         text-align: center;
     }
     .title-box h4{
         font-size: 14px;
         text-align: center;
     }
     .product-top img{
          border: none;
          z-index: -1;
          padding: 5px;
          bottom: -150px;
          display: flex;
          flex-wrap: wrap;
     }
     .product-bottom h3{
         font-size: 10px;
         font-weight: bold;
         color: black;
     }
    .product-bottom h5{
        font-size: 5px;
        color: black;
    }
    .col-md-5 img{
        float: left;
        width: 25%;
        padding: 5px;
    }
      .footer{
          margin-top: 35%;
          background-color: black;
          color: white;
      }
      .footer h1{
          font-size: 24px;
          margin-top: 5px;
      }
      .footer p{
          font-size: 14px;
          font-family: sans-serif;
          margin-top: 5px;
      }
      .col-md-6{
        float: left;
        width: 25%;
        padding: 3px;
    }
      .copyright{
          margin-bottom: -180px;
          text-align: center;
          font-size: 15px;
          padding-bottom: 20px;
}