body  {
    background-color:  burlywood;
    color:  #00305;
    font-size:  87.5%;
    font-family:  Arial, Lucida sans unicode;
    line-height:  1.5;
    text-align:  left;
  }
a  {
    text-decoration:  none;
  }
a:link, a:visited  {
   color:  #cf5c3f;
  }
a:hover, a:active  {
  background-color:  #cf5c3f;
  color: #fff;

  }
 
 .body  {
      margin:  0 auto;
      width:  70%;
      clear:  both;
  }
.mainHeader img  {
    width:  150;
    height:  100;
    margin: 2% 0;

  }
.mainHeader nav  {
    background-color: #666;
    height:  40px;
    border-radius:  5px;
    -moz-border-radius:  5px;
    -webkit-border-radius:  5px;
  }

.mainHeader nav ul  {
    list-style:  none;
    margin:  0 auto;
  }
.mainHeader nav ul li  {
    float:  left;
    display: inline;
   
  }
.mainHeader nav li a  {
    color:  #fff;
    text-decoration:  none;
    display:  inline-block;
    padding:   10px 25px;
    height:  20px;

  }
.mainHeader nav li a:hover, .mainHeader nav li a:active, 
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
  background-color: #cf5c3f;
  text-shadow: none;
  }
.mainHeader nav ul li a  {
    border-radius:  5px;
    -moz-border-radius:  5px;
    -webkit-border-radius:  5px;
  }
.mainContent  {
  line-height:  15px ;
  border-radius:  5px;
  -moz-border-radius:  5px;
  -webkit-border-radius:  5px;
  overflow: hidden;
  }
.content  {
  width:  50%;
  float:  left;
  }
.topcontent  {
  background-color:  cornflowerblue;
  color: #cf5c3f;
  display: block;
  font-style: italic;
  border-radius:  3px;
  -moz-border-radius:  3px;
  -webkit-border-radius:  3px;
  padding:  3% 5%;
  margin-top:  3%;
  }
.weddingGown-image  {
    width: 100%;
    height:  70%;
    float: left;
  }
  .page-image  {
    display: inline-block;
    float: left;
  }
  



  